@charset "utf-8";
/* CSS Document */

body {
    /* 抗锯齿 使字体变得更加平滑 */
    -webkit-font-smoothing: antialiased;
    font-family: "Hiragino Sans GB","Helvetica Neue", "Arial", "sans-serif", "微软雅黑";
}

fieldset {
    margin: 0 auto;
    padding: 0 7%;
    width: 86%;
}

fieldset legend {
    font-size: 24px;
    font-weight: 700;
    width: 90%;
    margin: 20px 0 20px 20px;
}

fieldset label {
    font-size: 14px;
    font-weight: 700;
    float: left;
}

.control-group {
    margin-bottom: 20px;
    /* 覆盖bootstrap form-group样式 */
    margin-left: 20px!important;
    margin-right: 0!important;
}

/* 缩小css的范围减少影响范围 */
.control-group span.glyphicon {
    margin: 8px 6px 0 0;
    float: left;
    /*
    暂时去除不和谐的小图标，使界面更加简洁清爽
    */
     display: none; 
}

.control-group .controls {
    display: inline-block;
    width: 80%;
    margin-left: 20px;
}

textarea.form-control {
    height: 200px;
}

/*百度编辑器ueditor*/
#edui1 {
    width: 100%;
}

#editBtn {
    display: none;
}

#edit {
    display: none;
}

.buttons-group {
    text-align: center;
    margin: 0 auto;
    width: 550px;
}

.buttons-group input[type=button] {
    margin-left: 60px;
}

#photoCover.form-control {
    display: inline-block;
    width: 300px;
}

.btn-success {
    display: inline-block;
    width: 90px;
}

.bottom {
    background-color: rgb(68, 68, 68);
    height: 30px;
    width: 1280px;
    bottom: 0px;
    z-index: 3;
}

.bottom div{
    font-family: 黑体;
    font-size: 11px;
    color: #C1C1C1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

#attachmentsList {
    display: none;
} 