#title {
    display: block;
}

#content {
    min-height: 400px;
    width:70%;
}

.page-header {
    clear: both;
    width:70%;
}

#contentIndication {
    margin-top: 30px;
}

.bottom {
    background-color: rgb(68, 68, 68);
    height: 30px;
    width: 1280px;
    width: 100%;
    bottom: 0px;
    z-index: 3;
    margin-top: 30px;
}

.bottom div{
    font-family: 黑体;
    font-size: 11px;
    color: #C1C1C1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
