#title {
    display: inline-block;
}
/*
修改bootstrap滚动条的默认最大340px高度
*/
.pre-scrollable {
    max-height: 200px;
}

#content {
    margin: 0 auto;
    border-bottom: #eee 1px solid;
    min-height: 400px;
    width:70%;
}

#content img {
    /** 结合ueditor的iframe.css使用 否则单凭iframe.css的max-width无法限制图片真实大小
    * 其实也可以修改百度ueditor.all.js或image.js源码进行调整 不过略显小题大做
    */
    max-width: 100%;
}

.buttonsGroup {
    margin-top: 1%;
}

.buttonsGroup a {
    margin: 0 auto;
    display: block;
    width: 9%;
}

.buttonsGroup a span {
    vertical-align: text-top;
}

.page-header {
    margin: 0 auto;
    clear: both;
    width:70%;
}

.page-header small {
    font-size: 40%;
}

#contentIndication {
    margin-top: 30px;
}

.bottom {
    background-color: rgb(68, 68, 68);
    height: 30px;
    width: 1280px;
    width: 100%;
    bottom: 0px;
    z-index: 3;
    margin-top: 30px;
}

.bottom div{
    font-family: 黑体;
    font-size: 11px;
    color: #C1C1C1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
