.dt-buttons .dt-button {
    color: #fff;
    border: 1px solid #357ebd;
    border-radius: 4px;
    background-color: #428bca;
    background-image: none; 
}

.dt-buttons .dt-button:hover {
    color: #fff;
    border-color: #285e8e!important;
    background-color: #3071a9!important;
    background-image: none!important;
}

td.highlight {
    background-color: whitesmoke !important;
}

tr.highlight {
    background-color: whitesmoke !important;
}

tbody tr td:nth-child(6) a {
    margin-right: 6px;
}

/* 调整datatables布局 */
.searchResultHint {
    color: blue;
}

.searchResultHint b {
    vertical-align: -webkit-baseline-middle;
}

#noticesList_length {
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
}

#noticesList_filter {
    float: right;
}

/* 模态框的宽度 */
.modal-content {
    width: 500px;
}

.modal-body p {
    margin: 1em 0;
}

.modal-body dl {
    margin-top: 5px;
    margin-bottom: 0;
}

.modal-body .dl-horizontal dt {
    width: auto;
    line-height: 2em;
    color: blue;
}

.modal-body .dl-horizontal dd{
    margin-left: 0;
    line-height: 2em;
    color: blue;
}

/* 模态框删除确认信息*/
.deletingNoticesIndex {
    display: none;
}

.deletingNoticesTitle {
    color: blue;
}

#top {
    overflow: hidden;
}

#noticesList_wrapper {
    width: 90%;
    margin: 50px auto;
}

#clearFloat {
    clear: both;
}

.timeSelectorControls {
    display: inline-block;
    width: 45%;
}

.timeSelectorLabels {
    display: block;
}

.searchResultHint a {
    vertical-align: bottom;
}

.searchBar {
    clear: both;
}

.searchBar .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.searchBar .control-group input {
    font-size: 13px;
}

.searchBar .control-group:nth-child(1) input[type=text]{
    min-width: 180px;
}

.searchBar .control-group:nth-child(2) input[type=text]{
    min-width: 190px;
}

.searchBar .control-group:nth-child(3) input[type=text]{
    min-width: 240px;
}

.searchBar .control-group:nth-child(4) input[type=date]{
    max-width: 150px;
}

.searchBtn {
    margin-right: 0!important;
    padding: 18px 0 0 0;
}

p.help-block {
    display: inline-block;
}
