<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>公告编辑页</title>
    <link rel="stylesheet" href="../../static/jquery-ui/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/modules/noticepublish.css">
    <link href="../../static/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/jquery/jquery-1.11.3.min.js"></script>
    <!-- html预览过滤 防止布局错位和xss跨站攻击  -->
    <script src="../../static/bootstrap-fileinput/js/plugins/purify.min.js" type="text/javascript"></script>
    <script src="../../static/bootstrap-fileinput/js/fileinput.min.js"></script>
    <!-- 语言文件必须在fileinput.js之后  -->
    <script src="../../static/bootstrap-fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../../static/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script>
        // 离开页面前发送的请求 可用于特殊需求
        window.onbeforeunload = function(event) { 
            $.ajax({
                url: "/sys/notice/test",
                type:"get"
            })
        }

        function preDeleteAttachment(attachmentID) {
            deleteAttachments.push(attachmentID);
            $("#existedAttachment-"+ attachmentID).hide();
        }
        
        // 生成UUID
        function uuid() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";
        
            var uuid = s.join("");
            return uuid;
        }

        // 修改附件上传栏初始化附件列表
        function initialAttachmentsList(annexFileIndex) {
            // 判断有没有附件
            if(null == annexFileIndex || "" === annexFileIndex) {
                
                existedAttachments = ""
                return
            }
            existedAttachments = annexFileIndex;
            $("#attachmentsList").show();
            $.ajax({
                "url": "/sys/notice/attachments",
                "type": "get",
                "data": {
                    annexFileIndex: annexFileIndex,
                },
                "success": function (data) {
                    var html = '<ul class="list-unstyled">';
                    for (index in data) {
                        // 不是parseInt(index+1)
                        var count = parseInt(index) + 1;
                        html += '<li id="existedAttachment-' + data[index].attachmentID + '">附件' + count + '：';
                        html += '<a href="/sys/notice/attachment?attachmentID=' + data[index].attachmentID + '">' +data[index].savePath +'</a>'
                        html += '<a onclick="preDeleteAttachment(' + data[index].attachmentID + ')" class="btn btn-primary">删除</a></li>'                       
                    }
                    html += '</ul>';
                    $("#attachmentsList .controls").html(html);
                }
            })
        }
                    
    </script>
</head>

<body>
    <div class="top noprint" style="padding: 0px; margin: 0px; -moz-user-select:none;" onselectstart="return false">
        <div class="topone ">
            <div style="background-image: url(../../static/images/login/index_back_2.png); height: 68px; width: 40%; background-attachment: fixed; float: left; z-index: 0;"></div>
            <div style="background-image: url(../..//static/images/login/index_back_3.png); height: 68px; width: 60%; background-attachment: fixed; float: right; z-index: 0;"></div>
            <img src="../../static/images/login/index-logo.png" style="width: 366px; height: 64px; position: absolute; left: 5px; top: 0px; z-index: 2;">
            <div class="pull-right " style="margin-top: -60px; margin-right: 15px; margin-left: 15px; margin-bottom: 0px; z-index: 3; position: relative;">
                <input type="button" class="btn btn-default " onclick="editUser()" data-toggle="tooltip" data-placement="left" title="修改用户信息"
                    style="width: 24px; height: 24px; border: 0; background: url(../../static/images/login/index-admin.png) no-repeat left top;">
                <span id="userName" name="userName" onclick="editUser()" onmouseover="this.style.cursor='pointer'" style="cursor: pointer;">&nbsp;胡晓&nbsp;</span>
                <input type="button" class="btn btn-default " onclick="callLogout()" data-toggle="tooltip" data-placement="left" title="退出登录"
                    style="width: 24px; height: 24px; border: 0; background: url(../../static/images/login/index-IO.png) no-repeat left top;">
                <label onclick="callLogout()" onmouseover="this.style.cursor='pointer'">退出 </label>
            </div>
        </div>
    </div>
    <form class="form-horizontal">
        <fieldset>
            <div id="legend" class="">
                <legend class="">发布公告</legend>
                <br>
            </div>
            <div class="control-group">

                <!-- Text input-->
                <span class="glyphicon glyphicon-file"></span>
                <label class="control-label">公告标题</label>
                <div class="controls">
                    <input id="notice-title" type="text" placeholder="请在这里输入公告的标题" class="form-control">
                    <p class="help-block">(* 必填项)</p>
                </div>
            </div>

            <div class="control-group">

                <!-- Select Multiple -->
                <span class="glyphicon glyphicon-tags"></span>
                <label class="control-label">可见部门</label>
                <div class="controls">
                    <select class="form-control" multiple="multiple">
                    <option>软件研发部</option>
                    <option>系统研发部</option>
                    <option>硬件研发部</option>
                    <option>销售部</option>
                    <option>人力资源部</option>
                    <option>市场部</option></select>
                </div>
            </div>

            <div class="control-group">

                <!-- Textarea -->
                <span class="glyphicon glyphicon-edit"></span>
                <label class="control-label">公告正文</label>
                <div class="controls">
                    <div class="textarea">
                        <!-- 加载编辑器的容器 -->
                        <!-- 请在此输入公告正文内容.. -->
                        <script id="ueditorContainer" name="content" type="text/plain">
                        
                        </script>
                        <!-- <textarea id="notice-content" type="" class="form-control"> </textarea> -->
                        <p class="help-block">(* 必填项)</p>
                    </div>
                </div>
            </div>

            <div id="attachmentsList" class="control-group">
                <span class="glyphicon glyphicon-folder-open"></span>
                <label class="control-label">已有附件</label>

                <!-- Attachments List -->
                <div class="controls">
                </div>
            </div>

            <div class="control-group">
                <span class="glyphicon glyphicon-folder-open"></span>
                <label class="control-label">添加附件</label>

                <!-- File Upload -->
                <div class="controls">
                    <input id="notice-annexes" name="upattachment" class="file" type="file" multiple data-show-upload="false">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"></label>

                <!-- Button -->
                <div class="controls buttons-group">
                    <!-- <button id="publish" class="btn btn-info">发布公告</button> -->
                    <input id="editBtn" class="btn btn-info" data-toggle="modal" data-target="#publishConfirm" value="更新公告" type="button">
                    <input id="publishBtn" class="btn btn-info" data-toggle="modal" data-target="#publishConfirm" value="发布公告" type="button">
                    <input id="returnNoticesList" class="btn btn-info" value="返回列表" type="button">
                </div>
            </div>

        </fieldset>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="publishConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">发布公告确认</h4>
                    </div>
                    <div class="modal-body">请问是否马上发布这份公告？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">再修改一下</button>
                        <button id="publish" type="button" class="btn btn-primary">是的，发布</button>
                        <button id="edit" type="button" class="btn btn-primary">是的，发布</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </form>
    <div class="bottom noprint">
        <div>
            ——————● 版权所有：华自科技股份有限公司 地址:中国长沙高新区麓谷工业园麓松路609号 免费服务热线：4000586 896 ●——————
        </div>
    </div>
    <script type="text/javascript">
        //定义一个全局变量去接受文件名和id
        var uploadedFiles = new Array();
        var currentMode = "add";
        var existedAttachments;
        var deleteAttachments = new Array();
        $("#notice-annexes").fileinput({
            //设置语言
            language: 'zh', 
            // 限制文件最大大小为10MB
            maxFileSize: 10240,
            // 最多上传的附件数
            maxFileCount: 10,
            // 当文件尺寸超过25MB就不设置预览
            maxFilePreviewSize: 25600,
            uploadUrl: '/sys/notice/attachment',
            // 文件拖选框
            dropZoneEnabled: true,
            layoutTemplates: {
                // 设置空字符串即可去掉相应的按钮
                // 禁用单个上传按钮可以防止先上传 然后取消发送公告后造成的内存浪费情况
                // 另一种解决思路是像百度Ueditor一样 先放到临时目录 等确定存放了再真正保存
                // actionDelete: '',
                // actionUpload: ''
            }
        }).on('filesuccessremove', function (event, data, previewId, index) {
            if (true) {
                for(var i=0; i < uploadedFiles.length; i++) {
                    if(uploadedFiles[i].previewId === data) {
                        $.ajax({
                            url: "/sys/notice/attachment?attachmentID=" + uploadedFiles[i].fileID,
                            type: "delete",
                            success: function() {
                                alert("删除成功！")
                            }
                        })
                        uploadedFiles.splice(i,1)
                        break;
                    }
                }
                console.log('Uploaded thumbnail successfully removed');
            } else {
                return false; // abort the thumbnail removal
            }
        }).on('fileuploaded', function (event, data, previewId, index) {
                var fileID = data.response.initialPreviewConfig[0].key
                console.log('File uploaded triggered');
                uploadedFiles.push({fileID:fileID, previewId:previewId});
        }).on('filebatchuploadcomplete', function (event, files, extra) {
                console.log('File batch upload complete');
                // 初始化附件索引
                var annexFileIndex = new Array()
                for (index in uploadedFiles) {
                    annexFileIndex.push(uploadedFiles[index].fileID)
                }
                if("edit" === currentMode) {
                    var deleteAttachmentsStr = deleteAttachments.length > 0 ? 
                            "?deleteAttachments="+ deleteAttachments.join(",") : ""; 
                    var existedAttachmentsStr = existedAttachments === "" ? annexFileIndex.join(",") : existedAttachments + "," + annexFileIndex.join(",");
                    $.ajax({
                        url: "/sys/notice/update" + deleteAttachmentsStr,
                        type: "put",
                        dataType: "json",
                        data: JSON.stringify({
                            index: parseInt(noticeIndex),
                            title: $("#notice-title").val(),
                            content: UE.getEditor('ueditorContainer').getContent(),
                            sender: "马海莲",
                            // 拼接已有的
                            annexFileIndex: existedAttachmentsStr
                        }),
                        contentType: "application/json",
                        success:function(data){
                            clickPublish = true;
                            // 手动隐藏模态框
                            $('#publishConfirm').modal('hide'); 
                        }
                    })
                } else {
                    $.ajax({
                        url: "/sys/notice/add",
                        type: "POST",
                        data: JSON.stringify({
                            title: $("#notice-title").val(),
                            content: UE.getEditor('ueditorContainer').getContent(),
                            sender: "胡晓",
                            annexFileIndex: annexFileIndex.join(",")
                        }),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Content-Type', 'application/json');
                        },
                        dataType: "json",
                        success: function (data) {
                            clickPublish = true;
                            // 手动隐藏模态框
                            $('#publishConfirm').modal('hide');
                        }
                    })
                }
        });
    </script>
    <!-- 百度UEDITOR JS相关 -->
    <!-- 配置文件 -->
    <script type="text/javascript" src="../../static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="../../static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        // 模拟placeholder效果
        UE.Editor.prototype.placeholder = function (justPlainText) {
            var _editor = this;
            _editor.addListener("focus", function () {
                var localHtml = _editor.getPlainTxt();
                if ($.trim(localHtml) === $.trim(justPlainText)) {
                    _editor.setContent(" ");
                }
            });
            _editor.addListener("blur", function () {
                var localHtml = _editor.getContent();
                if (!localHtml) {
                    _editor.setContent(justPlainText);
                }
            });
            _editor.ready(function () {
                _editor.fireEvent("blur");
            });
        };
        var ue = UE.getEditor('ueditorContainer', {
            initialFrameHeight: 400
        });

        //placeholder内容(只能是文本内容)
        ue.placeholder("请在此编辑公告内容..插入图片后可通过方向键移动光标..");
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;  
        // 重写百度Ueditor上传图片的逻辑
        UE.Editor.prototype.getActionUrl = function (action) {
                if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadvideo') {
                    return '/sys/notice/ueditorimage?' + "uuid=" + uuid();
                } else {
                    return this._bkGetActionUrl.call(this, action);
                }  
        }
        ue.ready(function () {
            //设置编辑器的内容
            // ue.setContent('请在此编辑公告内容..插入图片后可通过方向键移动光标..');
            //获取html内容，返回: <p>hello</p>
            var html = ue.getContent();
            //获取纯文本内容，返回: hello
            var txt = ue.getContentTxt();
            getNoticeIndex(window.location.href, function (value) {
                noticeIndex = parseInt(value);
                if (-1 != noticeIndex) {
                    currentMode = "edit";
                    $.ajax({
                        url: "/sys/notice/notice/" + noticeIndex,
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            $("#notice-title").val(data.title);
                            //UE.getEditor('ueditorContainer').setContent(data.content);
                            // 尽可能使用ready函数 否则ue的body会为空 造成错误
                            var ue = UE.getEditor('ueditorContainer');
                            ue.setContent(data.content);
                            $("#editBtn").show();
                            $("#publishBtn").hide();
                            $("#edit").show();
                            $("#publish").hide();
                            // 附件操作
                            initialAttachmentsList(data.annexFileIndex);

                        }
                    })
                }
            });
        })
    </script>
    <script type="text/javascript" src="../../static/js/modules/noticepublish.js"></script>
    <!-- 百度编辑器代码高亮功能相关-->
    <script type="text/javascript" src="../../static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <script>
        SyntaxHighlighter.all();
    </script>
</body>
</html>