<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title></title>
	<link href="../static/hnac-ui/css/div.css" rel="stylesheet">			
	<link href="../static/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="../static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">   
	<link rel="stylesheet" href="../static/datatables/media/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../static/datatables/media/css/dataTables.bootstrap.css">
	<style> 
		.div-a{ float:left;width:70%;} 
		.div-b{ float:left;width:30%;} 
	</style> 
	<script src="../static/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="../static/bootstrap/3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/echarts/js/echarts.min.js" type="text/javascript"></script>
	<script src="../static/echarts/js/theme_hnac.js" type="text/javascript"></script>
	<script src="../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
	<script src="../static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
	<script src="../static/bootstrap-select/js/bootstrap-select-lim50.js" type="text/javascript"></script>
	<script type="text/javascript" src="../static/datatables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../static/datatables/media/js/dataTables.bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/hzcommon.js"></script>
</head>

<body>
	<form id="form1">
		<div style="width:90%;height:98%;text-align: left;">
			<h3>
            	<font face="微软雅黑" id="pageTitle">水库基本信息</font>
        	</h3>
			<br/>
			<table id="usertable" class="display table table-bordered table-striped table-hover" width="100%">
				<th align="left" colspan="100%">基础资料</th>
				<tr>
					<td colspan="1">水库名称：</td>
					<td colspan="2"><input value="高洞子水库" /></td>
					<td colspan="1">水库地址：</td>
					<td colspan="2"><input value="大足县邮亭镇天堂村"/></td>
				</tr>
				<tr>
					<td colspan="1">所在乡镇村：</td>
					<td colspan="2"><input value="大足县邮亭镇" /></td>
					<td colspan="1">防汛公路长度：</td>
					<td colspan="2"><input value="0" /></td>
				</tr>
				<tr>
					<td colspan="1">水系河流：</td>
					<td colspan="2"><input value="长江流域小安溪河" /></td>
					<td colspan="1">防汛公路状况：</td>
					<td colspan="2"><input type="text" /></td>
				</tr>
				<tr>
					<td>建设时间：</td>
					<td><input value="1900-4-1" /></td>
					<td>东经：</td>
					<td><input type="text" /></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>竣工时间：</td>
					<td><input value="1979-12-1" /></td>
					<td>北纬：</td>
					<td><input type="text" /></td>
					<td></td>
					<td></td>
				</tr>
				<th align="left" colspan="100%">水文特征</th>
				<tr>
					<td>积雨面积：</td>
					<td><input value="6.21" />km^2</td>
					<td>设计洪水流量：</td>
					<td><input value="98.16" />m^3/s</td>
					<td>校核洪水流量：</td>
					<td><input value="149.77" />m^3/s</td>
				</tr>
				<tr>
					<td>设计灌面：</td>
					<td><input value="0.00" />km^2</td>
					<td>设计洪水总量：</td>
					<td><input value="0.00" />m^3/s</td>
					<td>校核洪水总量：</td>
					<td><input value="0.00" />m^3/s</td>
				</tr>
				<tr>
					<td>平均降雨量：</td>
					<td><input value="1,006.0" />m</td>
					<td>设计最大泄量：</td>
					<td><input value="0.00" />m^3/s</td>
					<td>校核最大泄量：</td>
					<td><input value="0.00" />m^3/s</td>
				</tr>
				<th align="left" colspan="100%">水库特征</th>
				<tr>
					<td>总库容：</td>
					<td><input value="35.50" />m^3</td>
					<td>校核洪水位：</td>
					<td><input value="374.01" />m</td>
					<td>历史最高水位：</td>
					<td><input value="0.00" />m</td>
				</tr>
				<tr>
					<td>防洪库容：</td>
					<td><input value="19.20" />m^3</td>
					<td>设计洪水位：</td>
					<td><input value="373.19" />m</td>
					<td>发生时间：</td>
					<td><input value="2012-5-19"/></td>
				</tr>
				<tr>
					<td>兴利库容：</td>
					<td><input value="15.60" />m^3</td>
					<td>正常蓄水位：</td>
					<td><input value="370.68" />m</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>滞洪库容：</td>
					<td><input value="0.00" />m^3</td>
					<td>死水位：</td>
					<td><input value="365.71" />m</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<div align="right">
				<button type="button" id="btnPrint" class="btn btn-primary btn-lg" style="color:white;width:100px;background:#3790e2;line-height: 5px;">保存</button>
			</div>
		</div>
	</form>
</body>
</html>